{
  "openapi": "3.1.0",
  "info": {
    "title": "NeuronAI API",
    "version": "1.0.0",
    "description": "NeuronAI developer API: text-to-speech and voice cloning, speech-to-text, language models, embeddings, reranking, your account and API keys. Every route lives under /v1."
  },
  "servers": [
    {
      "url": "https://my.neuronai.uz/api",
      "description": "Production"
    },
    {
      "url": "https://my.neuronai.uz/api",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "LLM",
      "description": "OpenAI-compatible chat completions. Point any OpenAI SDK at this base URL and authenticate with your API key."
    },
    {
      "name": "TTS",
      "description": "Text-to-Speech synthesis, dialogue, async jobs and the voice catalog."
    },
    {
      "name": "Voice cloning",
      "description": "Create and manage voice clones for use with TTS synthesis."
    },
    {
      "name": "STT",
      "description": "Speech-to-Text transcription."
    },
    {
      "name": "Embeddings",
      "description": "Vector embeddings for semantic search and RAG. OpenAI-compatible — point your OpenAI SDK at this base URL."
    },
    {
      "name": "Rerank",
      "description": "Cross-encoder reranking for retrieval pipelines. Cohere-compatible — available at both /v1/rerank and /v2/rerank."
    },
    {
      "name": "Account",
      "description": "Read your own spend, request counts and remaining balance. Free — these endpoints are never billed."
    },
    {
      "name": "API keys",
      "description": "Create, list, change and revoke your organization's API keys from code. Every call needs a key holding the `api_keys` permission: `read` to list and get, `write` to create, change and revoke. These endpoints allow 60 requests a minute per user."
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "operationId": "createChatCompletion",
        "description": "Generates a model response for a chat conversation. OpenAI-compatible — set your OpenAI SDK's base URL to `{app}/api/v1` and use your API key. Set `stream: true` for a Server-Sent Events stream of `chat.completion.chunk` objects ending with `[DONE]` (the chunk before it carries `usage` when the model reports its token counts). Billed per token (prompt + completion).",
        "summary": "Create chat completion",
        "tags": [
          "LLM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The completion: one choice holding the assistant's message, and `usage` counting the tokens billed. With `stream: true`, the completion comes as Server-Sent Events instead (`text/event-stream`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "const": "chat.completion"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string",
                                "const": "assistant"
                              },
                              "content": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "role",
                              "content"
                            ]
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "index",
                          "message",
                          "finish_reason"
                        ]
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "object",
                    "created",
                    "model",
                    "choices",
                    "usage"
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Sent instead of the JSON when `stream: true`. Each event is a `data: ` line holding one JSON object, then a blank line:\n\n1. A `chat.completion.chunk` whose `choices[0].delta` is `{\"role\": \"assistant\"}`.\n2. One chunk for each piece of the answer, with the text in `choices[0].delta.content`. `finish_reason` is `null` until the chunk that ends the answer, which names it; that chunk may have an empty `delta`.\n3. When the model reports its token counts, one more chunk with `choices: []` and `usage` (`prompt_tokens`, `completion_tokens`, `total_tokens`).\n4. Last, always: `data: [DONE]`, which is not JSON.\n\nEvery chunk repeats the same `id`, `created` and `model`. If the model fails once the stream has started, the status stays 200: one event holding the error envelope, with the code `upstream_error`, takes the place of the chunks still to come and of the `usage` chunk, and `data: [DONE]` follows. The prompt and the text already sent are billed, from estimated token counts."
                }
              }
            },
            "headers": {
              "X-Cost": {
                "description": "The price billed, in credits. Sent with the JSON completion; a stream is billed when it ends, so it carries none.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Accel-Buffering": {
                "description": "Sent as `no` with a stream: it tells a proxy such as nginx not to hold back the events.",
                "schema": {
                  "type": "string",
                  "const": "no"
                }
              },
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or not recognized (`invalid_api_key`), revoked (`api_key_revoked`), disabled (`api_key_disabled`) or expired (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "402": {
            "description": "Not enough balance for the most this request can cost (`insufficient_balance`), or that cost would pass this key's monthly spend limit (`spend_limit_exceeded`). Nothing is charged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the permission this endpoint needs (`insufficient_permissions`), or the client IP is not in its allowlist (`ip_not_allowed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "404": {
            "description": "`model` is not one of the models `GET /api/v1/models` lists: `model_not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "The request failed validation (`invalid_request`: `error.param` names the first invalid field and `error.fields` maps each one to its message), or the prompt, with room for `max_tokens` (the server's cap when it is left out), does not fit the model's context window (`context_length_exceeded`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests: the per-minute rate limit is used up (`rate_limit_exceeded`), or this key already has as many requests in flight as it may (`concurrency_limit_exceeded`). Wait `Retry-After` seconds, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "When the rate limit lets requests through again, as a Unix time in seconds. Sent with a 429 for `rate_limit_exceeded`.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "502": {
            "description": "Without `stream`: the model failed or could not be reached, `upstream_error`. Nothing is charged. A stream reports a failure as an event instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, in the same envelope. For example `server_error` (500) when something fails unexpectedly, `service_unavailable` (503) while the API is down for maintenance, or `input_too_large` (413) when the request body is larger than the server accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-pricing": {
          "unit": "1K tokens",
          "rates": [
            {
              "label": "Input",
              "value": 1.5,
              "currency": "credits"
            },
            {
              "label": "Output",
              "value": 6,
              "currency": "credits"
            }
          ]
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://my.neuronai.uz/api/v1/chat/completions\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer <your-api-key>\" \\\n  -d '{\n    \"model\": \"gemma-4-26b-a4b\",\n    \"messages\": [\n      {\"role\": \"user\", \"content\": \"Salom! Bugun ob-havo qanday?\"}\n    ]\n  }'"
          },
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import {NeuronAI} from \"@naiuz/sdk\";\n\nconst client = new NeuronAI();\n\nconst completion = await client.chat.completions.create({\n    model: \"gemma-4-26b-a4b\",\n    messages: [{role: \"user\", content: \"Salom! Bugun ob-havo qanday?\"}],\n});\n\nconsole.log(completion.choices[0]?.message.content);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from naiuz import NeuronAI\n\nclient = NeuronAI()\n\ncompletion = client.chat.completions.create(\n    model=\"gemma-4-26b-a4b\",\n    messages=[{\"role\": \"user\", \"content\": \"Salom! Bugun ob-havo qanday?\"}],\n)\n\nprint(completion.choices[0].message.content)"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "$client = new \\Naiuz\\NeuronAI();\n\n$completion = $client->chat->completions->create([\n    'model' => 'gemma-4-26b-a4b',\n    'messages' => [\n        ['role' => 'user', 'content' => 'Salom! Bugun ob-havo qanday?'],\n    ],\n]);\n\necho $completion->choices[0]->message->content, PHP_EOL;"
          },
          {
            "lang": "python",
            "label": "Python (OpenAI SDK)",
            "source": "from openai import OpenAI\n\nclient = OpenAI(base_url=\"https://my.neuronai.uz/api/v1\", api_key=\"<your-api-key>\")\n\ncompletion = client.chat.completions.create(\n    model=\"gemma-4-26b-a4b\",\n    messages=[{\"role\": \"user\", \"content\": \"Salom! Bugun ob-havo qanday?\"}],\n)\n\nprint(completion.choices[0].message.content)"
          },
          {
            "lang": "javascript",
            "label": "JavaScript (OpenAI SDK)",
            "source": "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n    baseURL: 'https://my.neuronai.uz/api/v1',\n    apiKey: '<your-api-key>',\n});\n\nconst completion = await client.chat.completions.create({\n    model: 'gemma-4-26b-a4b',\n    messages: [{ role: 'user', content: 'Salom! Bugun ob-havo qanday?' }],\n});\n\nconsole.log(completion.choices[0].message.content);"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "$ch = curl_init('https://my.neuronai.uz/api/v1/chat/completions');\n\ncurl_setopt_array($ch, [\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_HTTPHEADER => [\n        'Content-Type: application/json',\n        'Authorization: Bearer <your-api-key>',\n    ],\n    CURLOPT_POSTFIELDS => json_encode([\n        'model' => 'gemma-4-26b-a4b',\n        'messages' => [\n            ['role' => 'user', 'content' => 'Salom! Bugun ob-havo qanday?'],\n        ],\n    ]),\n]);\n\n$response = json_decode(curl_exec($ch), true);\ncurl_close($ch);\n\necho $response['choices'][0]['message']['content'];"
          }
        ]
      }
    },
    "/v1/models": {
      "get": {
        "operationId": "listModels",
        "description": "Lists the chat models available to your account.",
        "summary": "List models",
        "tags": [
          "LLM"
        ],
        "responses": {
          "200": {
            "description": "The chat models, in OpenAI's list shape. Send a model's `id` as `model`. `created` is always `0`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string",
                            "const": "model"
                          },
                          "created": {
                            "type": "integer"
                          },
                          "owned_by": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "object",
                          "created",
                          "owned_by"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or not recognized (`invalid_api_key`), revoked (`api_key_revoked`), disabled (`api_key_disabled`) or expired (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the permission this endpoint needs (`insufficient_permissions`), or the client IP is not in its allowlist (`ip_not_allowed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests: the per-minute rate limit is used up (`rate_limit_exceeded`). Wait `Retry-After` seconds, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "When the rate limit lets requests through again, as a Unix time in seconds. Sent with a 429 for `rate_limit_exceeded`.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, in the same envelope. For example `server_error` (500) when something fails unexpectedly, or `service_unavailable` (503) while the API is down for maintenance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import {NeuronAI} from \"@naiuz/sdk\";\n\nconst client = new NeuronAI();\n\nconst models = await client.models.list();\n\nfor (const model of models.data) {\n    console.log(model.id);\n}"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from naiuz import NeuronAI\n\nclient = NeuronAI()\n\nmodels = client.models.list()\n\nfor model in models.data:\n    print(model.id)"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "$client = new \\Naiuz\\NeuronAI();\n\n$models = $client->models->list();\n\nforeach ($models->data as $model) {\n    echo $model->id, PHP_EOL;\n}"
          }
        ]
      }
    },
    "/v1/tts/synthesize": {
      "post": {
        "operationId": "synthesizeSpeech",
        "description": "Synthesizes speech from text and answers with WAV audio. Pass `voice_id` to use a stock voice or one of your voice clones.\n\nOptional `quality` selects a latency/fidelity preset: `fast` (lowest latency, slightly reduced detail), `standard` (default, balanced), `high` (best fidelity, slowest).\n\nPass an `Idempotency-Key` header to make retries safe: replaying the same key returns the original audio and headers instead of synthesizing and charging again. Keys are scoped to your organization, must not exceed 191 characters (a longer key answers 400 `invalid_request` before anything is synthesized or charged), and are remembered for 7 days. The same key sent with a different body answers 409 `idempotency_conflict`.\n\nThe response carries the price billed (`X-Cost`), billed character count (`X-Character-Count`), your balance after the charge (`X-Balance`), voice type (`X-Voice-Custom`), upstream latency (`X-Latency-Ms`) and a request id (`X-Request-Id`) in headers. A response replayed from an `Idempotency-Key` also carries `Idempotency-Replayed: 1`.\n\nEmotion tags are bracketed directions the voice acts out rather than reads aloud: `[laughter]`, `[sigh]`, `[dissatisfaction-hnn]`, `[confirmation-en]`, `[question-en]`, `[question-ah]`, `[question-oh]`, `[question-ei]`, `[question-yi]`, `[surprise-ah]`, `[surprise-oh]`, `[surprise-wa]`, `[surprise-yo]`. Write them inline in the text. Each bills as one character rather than as its spelling, so a tag costs the same however long its name is.",
        "summary": "Synthesize speech",
        "tags": [
          "TTS"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Makes a retry safe: the same key again returns the original audio and headers instead of synthesizing and charging again. At most 191 characters, scoped to your organization and kept for 7 days.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WAV audio of the synthesized speech. Pricing, latency and the request id are in headers.",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-Cost": {
                "description": "The price billed, in credits.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Balance": {
                "description": "Your balance after the charge, in credits.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Character-Count": {
                "description": "The characters billed. An emotion tag counts as one.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Voice-Custom": {
                "description": "`1` when the voice is one of your clones, `0` for a stock voice.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "0",
                    "1"
                  ]
                }
              },
              "X-Latency-Ms": {
                "description": "Time the voice took, in milliseconds. May have a fraction.",
                "schema": {
                  "type": "number"
                }
              },
              "Idempotency-Replayed": {
                "description": "`1` when the answer is a replay of an earlier request with the same `Idempotency-Key`.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "The `Idempotency-Key` is over 191 characters: `invalid_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or not recognized (`invalid_api_key`), revoked (`api_key_revoked`), disabled (`api_key_disabled`) or expired (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "402": {
            "description": "Not enough balance (`insufficient_balance`), or the charge would pass this key's monthly spend limit (`spend_limit_exceeded`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the permission this endpoint needs (`insufficient_permissions`), the client IP is not in its allowlist (`ip_not_allowed`), or the `voice_id` is not one this account can use (`voice_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "409": {
            "description": "The `Idempotency-Key` was already used with a different body: `idempotency_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "The request failed validation: `invalid_request`. `error.param` names the first invalid field and `error.message` gives its message; `error.fields` maps every invalid field, a nested one by its dotted path, to its first message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests: the per-minute rate limit is used up (`rate_limit_exceeded`), or this key already has as many requests in flight as it may (`concurrency_limit_exceeded`). Wait `Retry-After` seconds, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "When the rate limit lets requests through again, as a Unix time in seconds. Sent with a 429 for `rate_limit_exceeded`.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Synthesis failed: `synthesis_failed`; nothing is charged. A replay whose recorded audio can no longer be read answers `server_error`. Anything else that fails unexpectedly: `server_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "503": {
            "description": "Either the audio was made but could not be stored for an idempotent retry (`storage_failed`), or the API itself is down for maintenance (`service_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, in the same envelope. For example `input_too_large` (413) when the request body is larger than the server accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-pricing": {
          "unit": "char",
          "rates": [
            {
              "label": "Default voice",
              "value": 0.3,
              "currency": "credits"
            },
            {
              "label": "Voice clone",
              "value": 0.5,
              "currency": "credits"
            }
          ]
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://my.neuronai.uz/api/v1/tts/synthesize\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer <your-api-key>\" \\\n  -d '{\n    \"voice_id\": \"kamron\",\n    \"text\": \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n    \"language\": \"uz\",\n    \"quality\": \"standard\"\n  }' \\\n  --output speech.wav"
          },
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import {NeuronAI} from \"@naiuz/sdk\";\n\nconst client = new NeuronAI();\n\nconst speech = await client.tts.synthesize({\n    voice_id: \"kamron\",\n    text: \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n    language: \"uz\",\n    quality: \"standard\",\n});\n\nawait speech.save(\"speech.wav\");"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from naiuz import NeuronAI\n\nclient = NeuronAI()\n\nspeech = client.tts.synthesize(\n    voice_id=\"kamron\",\n    text=\"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n    language=\"uz\",\n    quality=\"standard\",\n)\n\nspeech.save(\"speech.wav\")"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "$client = new \\Naiuz\\NeuronAI();\n\n$speech = $client->tts->synthesize([\n    'voice_id' => 'kamron',\n    'text' => 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.',\n    'language' => 'uz',\n    'quality' => 'standard',\n]);\n\n$speech->save('speech.wav');"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://my.neuronai.uz/api/v1/tts/synthesize', {\n    method: 'POST',\n    headers: {\n        'Authorization': 'Bearer <your-api-key>',\n        'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n        voice_id: 'kamron',\n        text: 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.',\n        language: 'uz',\n        quality: 'standard',\n    }),\n});\n\nif (!response.ok) {\n    throw new Error(`Request failed: ${response.status}`);\n}\n\nconst audioBlob = await response.blob();\nconst audio = new Audio(URL.createObjectURL(audioBlob));\nawait audio.play();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    \"https://my.neuronai.uz/api/v1/tts/synthesize\",\n    headers={\"Authorization\": \"Bearer <your-api-key>\"},\n    json={\n        \"voice_id\": \"kamron\",\n        \"text\": \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n        \"language\": \"uz\",\n        \"quality\": \"standard\",\n    },\n)\n\nresponse.raise_for_status()\n\nwith open(\"speech.wav\", \"wb\") as f:\n    f.write(response.content)"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "$ch = curl_init('https://my.neuronai.uz/api/v1/tts/synthesize');\n\ncurl_setopt_array($ch, [\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_HTTPHEADER => [\n        'Content-Type: application/json',\n        'Authorization: Bearer <your-api-key>',\n    ],\n    CURLOPT_POSTFIELDS => json_encode([\n        'voice_id' => 'kamron',\n        'text' => 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.',\n        'language' => 'uz',\n        'quality' => 'standard',\n    ]),\n]);\n\n$audio = curl_exec($ch);\ncurl_close($ch);\n\nfile_put_contents('speech.wav', $audio);"
          }
        ]
      }
    },
    "/v1/tts/dialogue": {
      "post": {
        "operationId": "synthesizeDialogue",
        "description": "Renders a multi-speaker script into one stitched WAV file. `turns` holds 1–100 entries, each with a `voice_id` (a stock voice or one of your clones) and its `text`, and optionally its own `language`, `quality` and `speed`; `gap_ms` (0–5000) sets the silence between turns. Billed per character, per turn, at that turn's own rate.\n\nOver 8000 characters in total answers 413 `input_too_large`; a single turn over its own limit answers 422 `invalid_request`.\n\nThe response carries `X-Cost`, `X-Balance`, `X-Character-Count`, `X-Voice-Custom`, `X-Latency-Ms` and `X-Request-Id`, as synthesize does. It adds per-turn start and end offsets in `X-Turns` (a JSON array with snake_case keys) and the number of turns in `X-Turn-Count`, so a client can seek to a line. `Idempotency-Key` works as on synthesize.\n\nEmotion tags are bracketed directions the voice acts out rather than reads aloud: `[laughter]`, `[sigh]`, `[dissatisfaction-hnn]`, `[confirmation-en]`, `[question-en]`, `[question-ah]`, `[question-oh]`, `[question-ei]`, `[question-yi]`, `[surprise-ah]`, `[surprise-oh]`, `[surprise-wa]`, `[surprise-yo]`. Write them inline in the text. Each bills as one character rather than as its spelling, so a tag costs the same however long its name is.",
        "summary": "Synthesize a dialogue",
        "tags": [
          "TTS"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Makes a retry safe: the same key again returns the original audio and headers instead of synthesizing and charging again. At most 191 characters, scoped to your organization and kept for 7 days.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeDialogueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WAV audio of the stitched dialogue. Per-turn offsets are in `X-Turns`; pricing, latency and the request id are in headers.",
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "X-Cost": {
                "description": "The price billed, in credits.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Balance": {
                "description": "Your balance after the charge, in credits.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Character-Count": {
                "description": "The characters billed. An emotion tag counts as one.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Voice-Custom": {
                "description": "`1` when any turn used one of your clones, else `0`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "0",
                    "1"
                  ]
                }
              },
              "X-Latency-Ms": {
                "description": "Time the voices took, in milliseconds. May have a fraction.",
                "schema": {
                  "type": "number"
                }
              },
              "Idempotency-Replayed": {
                "description": "`1` when the answer is a replay of an earlier request with the same `Idempotency-Key`.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Turns": {
                "description": "Where each turn is in the audio, so a client can seek to a line: a JSON array with one object per turn, holding `index`, `voice_id`, `start_s`, `end_s` and `duration_s`. The times are in seconds.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Turn-Count": {
                "description": "The number of turns rendered.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "The `Idempotency-Key` is over 191 characters: `invalid_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or not recognized (`invalid_api_key`), revoked (`api_key_revoked`), disabled (`api_key_disabled`) or expired (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "402": {
            "description": "Not enough balance (`insufficient_balance`), or the charge would pass this key's monthly spend limit (`spend_limit_exceeded`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the permission this endpoint needs (`insufficient_permissions`), the client IP is not in its allowlist (`ip_not_allowed`), or the `voice_id` is not one this account can use (`voice_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "409": {
            "description": "The `Idempotency-Key` was already used with a different body: `idempotency_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "413": {
            "description": "Either the script is over 8000 characters in total, or the request body itself is larger than the server accepts — either way, `input_too_large`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "The request failed validation: `invalid_request`. `error.param` names the first invalid field and `error.message` gives its message; `error.fields` maps every invalid field, a nested one by its dotted path, to its first message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests: the per-minute rate limit is used up (`rate_limit_exceeded`), or this key already has as many requests in flight as it may (`concurrency_limit_exceeded`). Wait `Retry-After` seconds, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "When the rate limit lets requests through again, as a Unix time in seconds. Sent with a 429 for `rate_limit_exceeded`.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Synthesis failed: `synthesis_failed`; nothing is charged. A replay whose recorded audio can no longer be read answers `server_error`. Anything else that fails unexpectedly: `server_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "503": {
            "description": "Either the audio was made but could not be stored for an idempotent retry (`storage_failed`), or the API itself is down for maintenance (`service_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, in the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-pricing": {
          "unit": "char",
          "rates": [
            {
              "label": "Default voice",
              "value": 0.3,
              "currency": "credits"
            },
            {
              "label": "Voice clone",
              "value": 0.5,
              "currency": "credits"
            }
          ]
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "curl -X POST \"https://my.neuronai.uz/api/v1/tts/dialogue\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer <your-api-key>\" \\\n  -d '{\n    \"turns\": [\n      {\"voice_id\": \"<voice-a>\", \"text\": \"Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.\"},\n      {\"voice_id\": \"<voice-b>\", \"text\": \"Xush kelibsiz! Birinchi yangilikni tinglaymiz.\"}\n    ],\n    \"gap_ms\": 300\n  }' \\\n  --output dialogue.wav"
          },
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import {NeuronAI} from \"@naiuz/sdk\";\n\nconst client = new NeuronAI();\n\nconst dialogue = await client.tts.dialogue({\n    turns: [\n        {voice_id: \"kamron\", text: \"Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.\"},\n        {voice_id: \"madina\", text: \"Xush kelibsiz! Birinchi yangilikni tinglaymiz.\"},\n    ],\n    gap_ms: 300,\n});\n\nawait dialogue.save(\"dialogue.wav\");\nconsole.log(dialogue.turns);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from naiuz import NeuronAI\n\nclient = NeuronAI()\n\ndialogue = client.tts.dialogue(\n    turns=[\n        {\"voice_id\": \"kamron\", \"text\": \"Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.\"},\n        {\"voice_id\": \"madina\", \"text\": \"Xush kelibsiz! Birinchi yangilikni tinglaymiz.\"},\n    ],\n    gap_ms=300,\n)\n\ndialogue.save(\"dialogue.wav\")\nprint(dialogue.turns)"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "$client = new \\Naiuz\\NeuronAI();\n\n$dialogue = $client->tts->dialogue([\n    'turns' => [\n        ['voice_id' => 'kamron', 'text' => 'Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.'],\n        ['voice_id' => 'madina', 'text' => 'Xush kelibsiz! Birinchi yangilikni tinglaymiz.'],\n    ],\n    'gap_ms' => 300,\n]);\n\n$dialogue->save('dialogue.wav');\nprint_r($dialogue->turns);"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const response = await fetch('https://my.neuronai.uz/api/v1/tts/dialogue', {\n    method: 'POST',\n    headers: {\n        'Authorization': 'Bearer <your-api-key>',\n        'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n        turns: [\n            { voice_id: '<voice-a>', text: 'Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.' },\n            { voice_id: '<voice-b>', text: 'Xush kelibsiz! Birinchi yangilikni tinglaymiz.' },\n        ],\n        gap_ms: 300,\n    }),\n});\n\nif (!response.ok) {\n    throw new Error(`Request failed: ${response.status}`);\n}\n\n// Per-turn start/end offsets, so a client can seek to a line.\nconst turns = JSON.parse(response.headers.get('X-Turns'));\n\nconst audioBlob = await response.blob();\nconst audio = new Audio(URL.createObjectURL(audioBlob));\nawait audio.play();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import json\n\nimport requests\n\nresponse = requests.post(\n    \"https://my.neuronai.uz/api/v1/tts/dialogue\",\n    headers={\"Authorization\": \"Bearer <your-api-key>\"},\n    json={\n        \"turns\": [\n            {\"voice_id\": \"<voice-a>\", \"text\": \"Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.\"},\n            {\"voice_id\": \"<voice-b>\", \"text\": \"Xush kelibsiz! Birinchi yangilikni tinglaymiz.\"},\n        ],\n        \"gap_ms\": 300,\n    },\n)\n\nresponse.raise_for_status()\n\n# Per-turn start/end offsets, so a client can seek to a line.\nturns = json.loads(response.headers[\"X-Turns\"])\n\nwith open(\"dialogue.wav\", \"wb\") as f:\n    f.write(response.content)"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "$ch = curl_init('https://my.neuronai.uz/api/v1/tts/dialogue');\n\ncurl_setopt_array($ch, [\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_HTTPHEADER => [\n        'Content-Type: application/json',\n        'Authorization: Bearer <your-api-key>',\n    ],\n    CURLOPT_POSTFIELDS => json_encode([\n        'turns' => [\n            ['voice_id' => '<voice-a>', 'text' => 'Assalomu alaykum! Bugun sizga yangiliklarni yetkazamiz.'],\n            ['voice_id' => '<voice-b>', 'text' => 'Xush kelibsiz! Birinchi yangilikni tinglaymiz.'],\n        ],\n        'gap_ms' => 300,\n    ]),\n]);\n\n$audio = curl_exec($ch);\ncurl_close($ch);\n\nfile_put_contents('dialogue.wav', $audio);"
          }
        ]
      }
    },
    "/v1/tts/jobs": {
      "post": {
        "operationId": "createTtsJob",
        "description": "Queues a synthesis and answers at once with 202 and the job, so a long text never waits on the voice. The body is exactly synthesize's. Poll `GET /api/v1/tts/jobs/{id}` until `status` is `succeeded` or `failed`, then download the audio from `GET /api/v1/tts/jobs/{id}/audio` or `audio_url`.\n\nAn obvious refusal is still immediate: 402 (`insufficient_balance` or `spend_limit_exceeded`), 403 `voice_unavailable`, and 429 `too_many_active_jobs` when this key already has as many active jobs as its TTS concurrency limit (with `Retry-After`).\n\nPass an `Idempotency-Key` header (at most 191 characters) to make retries safe: a known key answers 200 with the original job and `Idempotency-Replayed: 1`, whatever its state. A job releases its key 24 hours after it finishes. The charge lands only when the job succeeds; a failed job costs nothing.",
        "summary": "Create a synthesis job",
        "tags": [
          "TTS"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Makes a retry safe: the same key again answers 200 with the job it created, whatever its state, instead of queuing another. At most 191 characters, scoped to your organization, and released 24 hours after the job finishes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SynthesizeSpeechRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An idempotent replay: the job this `Idempotency-Key` already created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TtsJob"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "data",
                    "request_id"
                  ]
                }
              }
            },
            "headers": {
              "Idempotency-Replayed": {
                "description": "`1` when the answer is a replay of an earlier request with the same `Idempotency-Key`.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "202": {
            "description": "The queued job under `data`. The `Location` header points at it.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TtsJob"
                    },
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "data",
                    "request_id"
                  ]
                }
              }
            },
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              },
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "The `Idempotency-Key` is over 191 characters: `invalid_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "The API key is missing or not recognized (`invalid_api_key`), revoked (`api_key_revoked`), disabled (`api_key_disabled`) or expired (`api_key_expired`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "402": {
            "description": "Not enough balance (`insufficient_balance`), or the charge would pass this key's monthly spend limit (`spend_limit_exceeded`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the permission this endpoint needs (`insufficient_permissions`), the client IP is not in its allowlist (`ip_not_allowed`), or the `voice_id` is not one this account can use (`voice_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "409": {
            "description": "The `Idempotency-Key` was already used with a different body: `idempotency_conflict`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "422": {
            "description": "The request failed validation: `invalid_request`. `error.param` names the first invalid field and `error.message` gives its message; `error.fields` maps every invalid field, a nested one by its dotted path, to its first message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "description": "This key already has as many queued or running jobs as its TTS concurrency limit allows: `too_many_active_jobs`, with `Retry-After: 5`. Too many requests: the per-minute rate limit is used up (`rate_limit_exceeded`). Wait `Retry-After` seconds, then retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "When the rate limit lets requests through again, as a Unix time in seconds. Sent with a 429 for `rate_limit_exceeded`.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "Any other error, in the same envelope. For example `server_error` (500) when something fails unexpectedly, `service_unavailable` (503) while the API is down for maintenance, or `input_too_large` (413) when the request body is larger than the server accepts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Identifies this request. A JSON body carries it as `request_id` too; quote it to support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "Retry-After": {
                "description": "Seconds to wait before retrying. Sent with a 503 during maintenance, when a retry time was set.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "The requests a minute the rate limit on this endpoint allows. Sent once the limit has counted the request, so not when the key itself is refused.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "How many of them are left this minute.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "x-pricing": {
          "unit": "char",
          "rates": [
            {
              "label": "Default voice",
              "value": 0.3,
              "currency": "credits"
            },
            {
              "label": "Voice clone",
              "value": 0.5,
              "currency": "credits"
            }
          ]
        },
        "x-codeSamples": [
          {
            "lang": "shell",
            "label": "cURL",
            "source": "# 1. Submit\ncurl -X POST \"https://my.neuronai.uz/api/v1/tts/jobs\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer <your-api-key>\" \\\n  -H \"Idempotency-Key: my-unique-key-123\" \\\n  -d '{\"voice_id\": \"kamron\", \"text\": \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\", \"language\": \"uz\"}'\n\n# 2. Poll until data.status is \"succeeded\" or \"failed\"\ncurl \"https://my.neuronai.uz/api/v1/tts/jobs/<job-id>\" -H \"Authorization: Bearer <your-api-key>\"\n\n# 3. Download\ncurl \"https://my.neuronai.uz/api/v1/tts/jobs/<job-id>/audio\" -H \"Authorization: Bearer <your-api-key>\" --output speech.wav"
          },
          {
            "lang": "typescript",
            "label": "TypeScript SDK",
            "source": "import {NeuronAI} from \"@naiuz/sdk\";\n\nconst client = new NeuronAI();\n\nconst job = await client.tts.jobs.create({\n    voice_id: \"kamron\",\n    text: \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n    language: \"uz\",\n});\n\nconsole.log(job.id, job.status);"
          },
          {
            "lang": "python",
            "label": "Python SDK",
            "source": "from naiuz import NeuronAI\n\nclient = NeuronAI()\n\njob = client.tts.jobs.create(\n    voice_id=\"kamron\",\n    text=\"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\",\n    language=\"uz\",\n)\n\nprint(job.id, job.status)"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "$client = new \\Naiuz\\NeuronAI();\n\n$job = $client->tts->jobs->create([\n    'voice_id' => 'kamron',\n    'text' => 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.',\n    'language' => 'uz',\n]);\n\necho $job->id, ' ', $job->status, PHP_EOL;"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const headers = { 'Authorization': 'Bearer <your-api-key>', 'Content-Type': 'application/json' };\n\nconst submitted = await fetch('https://my.neuronai.uz/api/v1/tts/jobs', {\n    method: 'POST',\n    headers: { ...headers, 'Idempotency-Key': crypto.randomUUID() },\n    body: JSON.stringify({ voice_id: 'kamron', text: 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.', language: 'uz' }),\n}).then((r) => r.json());\n\nlet job = submitted.data;\nwhile (job.status === 'queued' || job.status === 'running') {\n    await new Promise((resolve) => setTimeout(resolve, 2000));\n    job = (await fetch(`https://my.neuronai.uz/api/v1/tts/jobs/${job.id}`, { headers }).then((r) => r.json())).data;\n}\n\nif (job.status === 'failed') throw new Error(job.error.message);\n\nconst audio = await fetch(job.audio_url, { headers }).then((r) => r.blob());"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import time, uuid, requests\n\nheaders = {\"Authorization\": \"Bearer <your-api-key>\"}\n\njob = requests.post(\n    \"https://my.neuronai.uz/api/v1/tts/jobs\",\n    headers={**headers, \"Idempotency-Key\": str(uuid.uuid4())},\n    json={\"voice_id\": \"kamron\", \"text\": \"Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.\", \"language\": \"uz\"},\n).json()[\"data\"]\n\nwhile job[\"status\"] in (\"queued\", \"running\"):\n    time.sleep(2)\n    job = requests.get(f\"https://my.neuronai.uz/api/v1/tts/jobs/{job['id']}\", headers=headers).json()[\"data\"]\n\nif job[\"status\"] == \"failed\":\n    raise RuntimeError(job[\"error\"][\"message\"])\n\nwith open(\"speech.wav\", \"wb\") as f:\n    f.write(requests.get(job[\"audio_url\"], headers=headers).content)"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "use Illuminate\\Support\\Facades\\Http;\nuse Illuminate\\Support\\Str;\n\n$api = Http::withHeaders(['Authorization' => 'Bearer <your-api-key>']);\n\n$job = $api->withHeaders(['Idempotency-Key' => (string) Str::uuid()])\n    ->post('https://my.neuronai.uz/api/v1/tts/jobs', ['voice_id' => 'kamron', 'text' => 'Assalomu alaykum! Bu NeuronAI matn-nutq xizmati orqali yaratilgan ovoz.', 'language' => 'uz'])\n    ->json('data');\n\nwhile (in_array($job['status'], ['queued', 'running'], true)) {\n    sleep(2);\n    $job = $api->get(\"https://my.neuronai.uz/api/v1/tts/jobs/{$job['id']}\")->json('data');\n}\n\nif ($job['status'] === 'failed') {\n    throw new RuntimeException($job['error']['message']);\n}\n\nfile_put_contents('speech.wav', $api->get($job['audio_url'])->body());"
          }
        ]
      }
    },
    "/v1/tts/jobs/{id}": {
      "get": {
        "operationId": "retrieveTtsJob",
[...]
